
.header {
    padding: 10px 16px;
    background: white;
    width: 100%;
    padding-bottom: 20px;
    top: 0;
    z-index: 20;
    position: fixed;
    margin-left: -20px;
}

.personList {
    font: normal bold 30px/38px Arial;
    color: #17324D;
}

.search-bar-container {
    padding-top: 20px;
    position: relative;
    width: 100%;
}

.search-bar-wrapper {
    padding-top: 20px;
    position: relative;
    display: flex;
    width: 20%;
}

.search-bar {
    border: 1px solid #B2C2D1;
    font-size: x-large;
    width: 100%;
    height: 50px;
    padding-inline: 10px;
}

.btn-container {
    position: absolute;
    top: 0;
    right: 0; /* Position buttons on the right */
    bottom: 0;
    display: flex;
    align-items: center;
}

.btn-clear,
.search-btn {
    color: #17324D;
    background-color: transparent;
    border: none;
}

.i-clear,
.i-search {
    margin-top: 25px;
}

.i-clear {
    margin-right: -10px;
}

.btn-clear:hover {
    color: red;
}

.search-btn:hover {
    color: green;
}

.search-dropdown {
    margin-top: 150px;
    position: sticky;
    z-index: 2;
}



.dropdown {
    position: absolute;
    bottom: 0;
    right: 100px;
    display: flex;
    align-items: center;
    width: 74%;
}

.dropbtn {
    background-color: #00CC66;
    color: #FFFFFF;
    border-color: #17324D;
    text-align: left;
    height: 50px;
    font: normal normal medium 15px/28px Mark Pro;
}

.i-import {
    margin-left: 5px;
}

.i-export {
    margin-right: 5px;
}

.dropdown-content {
    position: absolute;
    color: #17324D;
    background-color: #FFFFFF;
    margin-top: 100px;
    width: 133px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    font: normal normal bold 30px/38px;
    text-align: left;
    font-size: large;
    z-index: 3; /* Bring the elements to the front */
    display: block;
}


.popupbtn {
    background-color: #00CC66;
    color: #FFFFFF;
    border-color: #17324D;
    text-align: left;
    height: 50px;
    font: normal normal medium 15px/28px Mark Pro;
    margin-left: 5px;
}


.my-custom-popup-import {
    background-color: #1E314B !important;
    border-radius: 20px !important;
    padding: 20px;
    color: white !important;
    text-align: center;
    z-index: 1000;
    position: fixed;
    margin-top: 430px;
    margin-left: 150px;
}


.my-custom-title-class {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 20px;
}

.filecontainer {
    background-color: #FFFFFF;
    color: #17324D;
    padding: 5px;
    margin: 10px;
    border-radius: 15px;
    font-size: large;
}

.my-Strategy-class {
    background-color: #D4DEE7;
    color: #17324D;
    padding: 25px;
    margin: 20px;
    border-radius: 15px;
    font-size: large;
}

.selector {
    background-color: #FFFFFF;
    color: #17324D;
    width: 35%;
    font-weight: bold;
    font-size: large;
    padding: 2px;
    border-radius: 1px;
}

.option {
    background-color: #FFFFFF;
    color: #17324D;
    width: 25%;
    font-size: large;
    padding: 2px;
    border-radius: 1px;
}

.my-custom-confirm-button-class,
.my-custom-cancel-button-class {
    background-color: #00CC66;
    color: white;
    font-size: 16px;
    font-weight: bold;
    width: 120px; /* Adjust the width as needed */
    border-radius: 15px;
    cursor: pointer;
    padding: 10px;
}

.my-custom-cancel-button-class {
    background-color: red;
    margin-left: 10px;
    justify-content: right;
    padding: 10px;
    margin: 10px;
}



.loading {
    z-index: 30;
    margin: 250px;
}

.table-page {
    display: block;
    margin-top: 150px;
}

.table-container {
    position: relative;

}

.table {
    text-align: center;
    background-color: #D4DEE7;
    border: hidden;
    flex: 1;
    table-layout: auto;

}

    .table th,
    .table td {
        position: center;
        width: 10%;
    }

    .table th {
        padding: 20px;
    }

    .table td {
        border: 1px solid #17324D;
        padding: 15px;
    }

    .table tr:nth-child(even) {
        @* background-color: #FFFFFF;
        *@ background-color: red;
    }

    .table tr {
        border: hidden;
        width: 100%;
    }

.table-head {
    background-color: #00CC66;
    font-size: 20px;
    position: sticky;
    z-index: 1;
    color: #FFFFFF;
    top: 150px; /* Fixed position */

}

.table-body {
    font-size: 20px;
    color: #17324D;
    position: static;
    width: 100%;
}

    .table-body
    tr:hover {
        background-color: #748DA6;
    }



.table-head-s {
    background-color: #00CC66;
    font-size: 20px;
    position: sticky;
    z-index: 2;
    color: #FFFFFF;
    width: 100%;
    top: 150px; /* Fixed position */
}

.table-body-s {
    font-size: 20px;
    color: #17324D;
    z-index: 1;
    width: 100%;
}


.my-custom-popup-class {
    background-color: #1E314B !important;
    border-radius: 20px !important;
    padding-bottom: 20px;
    color: white !important;
    font-size: 20px !important;
    font-weight: bold !important;
}

.my-custom-title-class {
    color: #fff !important;
}

.my-custom-content-class {
}

.my-custom-confirm-button-class {
    background-color: blue !important;
    font-size: 20px !important;
    padding: 1px, 1px, 1px, 1px !important;
    font-weight: bold;
}

.my-custom-cancel-button-class {
    background-color: red !important;
    font-size: 20px !important;
    padding: 1px, 1px, 1px, 1px !important;
    font-weight: bold;
}

.Icon-popup {
    color: red !important;
}
