
.page {
    background-color: transparent;
    color: #17324D;
    place-items: center;
    text-align: start;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Calibri !important;
}

.pagetitle {
    left: 0;
}

.editdiv {
    width: 100%;
    top:0;
    left:0;
 
}


.card {
    margin: 20px;
    border: none;
}

    .card :nth-child(2n+1) {
        margin: 5px;
    }

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    font: bold;
}

.list-group-item {
    padding: 8px 0;
    border: none;
}

    .list-group-item:first-child {
        border-top: none;
    }

    .list-group-item:last-child {
        border-bottom: none;
    }

strong {
    font-weight: bold;
    justify-content: start;
}

.btndiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.editbtn {
    background-color: #00CC66;
    color: white;
    border: 1px solid #ccc;
    font-size: 18px;
    margin: 10px;
    padding: 10px;
}

.deletebtn {
    background-color: #E53939;
    color: white;
    border: 1px solid #ccc;
    font-size: 18px;
    margin: 10px;
    padding: 10px;
}

/*----------------------------------------------------------------*/



/* Your existing styles */

/* Styles for the modal overlay */
.blazored-modal-overlay {
    background-color: red; /* Adjust the background color and opacity as needed */
}

/* Styles for the modal container */
.blazored-modal-container {
    max-width: 600px; /* Adjust the maximum width of the modal as needed */
    background-color: #fff; /* Adjust the background color of the modal */
    border-radius: 8px; /* Adjust the border radius of the modal */
}

/* Styles for the modal header */
.blazored-modal-header {
    background-color: #4CAF50; /* Change the background color of the header */
    color: #fff; /* Change the text color of the header */
}

/* Styles for the modal body */
.blazored-modal-body {
    padding: 20px; /* Adjust the padding of the modal body */
}

/* Styles for the modal footer */
.blazored-modal-footer {
    background-color: #4CAF50; /* Change the background color of the footer */
    color: #fff; /* Change the text color of the footer */
}
